<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLTH.Properties.Settings.QUANLYTRUONGHOC2ConnectionString"
            connectionString="Data Source=LAPTOP-DN7MI1FU\SQLEXPRESS;Initial Catalog=QUANLYTRUONGHOC2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLTH.Properties.Settings.QUANLYTRUONGHOC3ConnectionString"
            connectionString="Data Source=LAPTOP-DN7MI1FU\SQLEXPRESS;Initial Catalog=QUANLYTRUONGHOC3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>