/****** Object:  Table [dbo].[HOCPHI]    Script Date: 9/7/2021 4:28:16 PM ******/
CREATE DATABASE QUANLYTRUONGHOC
GO
USE QUANLYTRUONGHOC
GO

CREATE TABLE [dbo].[HOCPHI](
	[MAHS] [nchar](10) NULL,
	[MAHOCPHI] [char](10) NOT NULL,
	[SOTIEN] [bigint] NULL,
	[THANGNOP] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOCPHI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LUONG]    Script Date: 9/7/2021 4:28:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LUONG](
	[MAGV] [nchar](10) NULL,
	[MALUONG] [char](10) NOT NULL,
	[SOTIEN] [bigint] NULL,
	[THANGNHAN] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCTGD]    Script Date: 9/7/2021 4:28:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCTGD](
	[MaLop] [nchar](10) NOT NULL,
	[MaGV] [nchar](10) NULL,
	[NgayDay] [date] NOT NULL,
	[SoTiet] [int] NOT NULL,
	[SoTienMotTiet] [int] NOT NULL,
 CONSTRAINT [CTDG1_pk] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC,
	[NgayDay] ASC,
	[SoTiet] ASC,
	[SoTienMotTiet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGiaoVien]    Script Date: 9/7/2021 4:28:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGiaoVien](
	[MaGV] [nchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GT] [nchar](3) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [int] NULL,
	[LuongCung] [bigint] NULL,
	[MaTrinhDo] [nvarchar](10) NULL,
	[MaMon] [nchar](10) NULL,
 CONSTRAINT [PK_tblGiaoVien] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHocSinh]    Script Date: 9/7/2021 4:28:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHocSinh](
	[MaHS] [nchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[GT] [nchar](3) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](50) NULL,
	[PhuHuynh] [nvarchar](50) NULL,
	[DinhMucHocPhi] [float] NULL,
	[MaLop] [nchar](10) NULL,
 CONSTRAINT [PK_tblHocSinh] PRIMARY KEY CLUSTERED 
(
	[MaHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLop]    Script Date: 9/7/2021 4:28:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLop](
	[MaLop] [nchar](10) NOT NULL,
	[TenLop] [nchar](10) NOT NULL,
	[GVCN] [nchar](10) NULL,
 CONSTRAINT [PK_tblLop] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMonHoc]    Script Date: 9/7/2021 4:28:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMonHoc](
	[MaMon] [nchar](10) NOT NULL,
	[TenMon] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblMonHoc] PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTrinhDo]    Script Date: 9/7/2021 4:28:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTrinhDo](
	[MaTrinhDo] [nvarchar](10) NOT NULL,
	[TrinhDo] [nvarchar](50) NOT NULL,
	[DinhMuc] [float] NOT NULL,
 CONSTRAINT [PK_tblTrinhDo] PRIMARY KEY CLUSTERED 
(
	[MaTrinhDo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 9/7/2021 4:28:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HOCPHI] ([MAHS], [MAHOCPHI], [SOTIEN], [THANGNOP]) VALUES (N'HS00000001', N'HP0001    ', 1520000, N'2/2021')
INSERT [dbo].[HOCPHI] ([MAHS], [MAHOCPHI], [SOTIEN], [THANGNOP]) VALUES (N'HS00000002', N'HP0002    ', 1520000, N'2/2021')
INSERT [dbo].[HOCPHI] ([MAHS], [MAHOCPHI], [SOTIEN], [THANGNOP]) VALUES (N'HS00000003', N'HP0003    ', 608000, N'2/2021')
GO
INSERT [dbo].[LUONG] ([MAGV], [MALUONG], [SOTIEN], [THANGNHAN]) VALUES (N'GV00000001', N'L0001     ', 19438000, N'2/2021')
INSERT [dbo].[LUONG] ([MAGV], [MALUONG], [SOTIEN], [THANGNHAN]) VALUES (N'GV00000002', N'L0002     ', 19056000, N'2/2021')
INSERT [dbo].[LUONG] ([MAGV], [MALUONG], [SOTIEN], [THANGNHAN]) VALUES (N'GV00000003', N'L0003     ', 25438000, N'2/2021')
GO
INSERT [dbo].[tblCTGD] ([MaLop], [MaGV], [NgayDay], [SoTiet], [SoTienMotTiet]) VALUES (N'LOP0000001', N'GV00000001', CAST(N'2021-02-01' AS Date), 2, 40000)
INSERT [dbo].[tblCTGD] ([MaLop], [MaGV], [NgayDay], [SoTiet], [SoTienMotTiet]) VALUES (N'LOP0000001', N'GV00000004', CAST(N'2021-02-02' AS Date), 2, 40000)
INSERT [dbo].[tblCTGD] ([MaLop], [MaGV], [NgayDay], [SoTiet], [SoTienMotTiet]) VALUES (N'LOP0000001', N'GV00000008', CAST(N'2021-02-03' AS Date), 3, 40000)
GO
INSERT [dbo].[tblGiaoVien] ([MaGV], [HoTen], [GT], [NgaySinh], [DiaChi], [SDT], [LuongCung], [MaTrinhDo], [MaMon]) VALUES (N'GV00000001', N'Lê Viết Hoàng Anh', N'Nam', CAST(N'2020-12-22' AS Date), N'Nghệ An', 365366349, 7000000, N'TS', N'MH02      ')
INSERT [dbo].[tblGiaoVien] ([MaGV], [HoTen], [GT], [NgaySinh], [DiaChi], [SDT], [LuongCung], [MaTrinhDo], [MaMon]) VALUES (N'GV00000002', N'Đoàn Tiến Đạt', N'Nam', CAST(N'1976-02-02' AS Date), N'Hải Phòng', 986574325, 8000000, N'Ths', N'MH05      ')
INSERT [dbo].[tblGiaoVien] ([MaGV], [HoTen], [GT], [NgaySinh], [DiaChi], [SDT], [LuongCung], [MaTrinhDo], [MaMon]) VALUES (N'GV00000003', N'Lê Tiến Dũng', N'Nam', CAST(N'1975-03-19' AS Date), N'Thanh Hóa', 986574321, 13000000, N'TS', N'MH01      ')
GO
INSERT [dbo].[tblHocSinh] ([MaHS], [HoTen], [GT], [NgaySinh], [DiaChi], [PhuHuynh], [DinhMucHocPhi], [MaLop]) VALUES (N'HS00000001', N'Đặng Đức Anh', N'Nam', CAST(N'2005-12-21' AS Date), N'Hà Nội', N'Nguyễn Anh Dũng', 0.5, N'LOP0000001')
INSERT [dbo].[tblHocSinh] ([MaHS], [HoTen], [GT], [NgaySinh], [DiaChi], [PhuHuynh], [DinhMucHocPhi], [MaLop]) VALUES (N'HS00000002', N'Lê Tuấn Minh', N'Nam', CAST(N'2005-02-13' AS Date), N'Hà Nội', N'Nguyễn Thị Kim Khánh', 0.5, N'LOP0000001')
INSERT [dbo].[tblHocSinh] ([MaHS], [HoTen], [GT], [NgaySinh], [DiaChi], [PhuHuynh], [DinhMucHocPhi], [MaLop]) VALUES (N'HS00000003', N'Hoàng Đình Đạt', N'Nam', CAST(N'2005-02-15' AS Date), N'Hà Nội', N'Nguyễn Thị Thanh', 0.2, N'LOP0000001')
GO
INSERT [dbo].[tblLop] ([MaLop], [TenLop], [GVCN]) VALUES (N'LOP0000001', N'10A       ', N'GV00000001')
INSERT [dbo].[tblLop] ([MaLop], [TenLop], [GVCN]) VALUES (N'LOP0000002', N'10B       ', N'GV00000006')
INSERT [dbo].[tblLop] ([MaLop], [TenLop], [GVCN]) VALUES (N'LOP0000003', N'10C       ', N'GV00000004')
GO
INSERT [dbo].[tblMonHoc] ([MaMon], [TenMon]) VALUES (N'MH01      ', N'Toán')
INSERT [dbo].[tblMonHoc] ([MaMon], [TenMon]) VALUES (N'MH02      ', N'Vật Lý')
INSERT [dbo].[tblMonHoc] ([MaMon], [TenMon]) VALUES (N'MH03      ', N'Hóa Học')
GO
INSERT [dbo].[tblTrinhDo] ([MaTrinhDo], [TrinhDo], [DinhMuc]) VALUES (N'GS', N'Giáo sư', 0.6)
INSERT [dbo].[tblTrinhDo] ([MaTrinhDo], [TrinhDo], [DinhMuc]) VALUES (N'PGS', N'Phó giáo sư', 0.5)
INSERT [dbo].[tblTrinhDo] ([MaTrinhDo], [TrinhDo], [DinhMuc]) VALUES (N'Ths', N'Thạc sĩ', 0.4)
GO
INSERT [dbo].[tblUser] ([Username], [Password]) VALUES (N'admin', N'admin')
GO
ALTER TABLE [dbo].[HOCPHI]  WITH CHECK ADD FOREIGN KEY([MAHS])
REFERENCES [dbo].[tblHocSinh] ([MaHS])
GO
ALTER TABLE [dbo].[LUONG]  WITH CHECK ADD FOREIGN KEY([MAGV])
REFERENCES [dbo].[tblGiaoVien] ([MaGV])
GO
ALTER TABLE [dbo].[tblCTGD]  WITH CHECK ADD FOREIGN KEY([MaGV])
REFERENCES [dbo].[tblGiaoVien] ([MaGV])
GO
ALTER TABLE [dbo].[tblCTGD]  WITH CHECK ADD FOREIGN KEY([MaLop])
REFERENCES [dbo].[tblLop] ([MaLop])
GO
ALTER TABLE [dbo].[tblGiaoVien]  WITH CHECK ADD  CONSTRAINT [FK_tblGiaoVien_tblMonHoc] FOREIGN KEY([MaMon])
REFERENCES [dbo].[tblMonHoc] ([MaMon])
GO
ALTER TABLE [dbo].[tblGiaoVien] CHECK CONSTRAINT [FK_tblGiaoVien_tblMonHoc]
GO
ALTER TABLE [dbo].[tblGiaoVien]  WITH CHECK ADD  CONSTRAINT [FK_tblGiaoVien_tblTrinhDo] FOREIGN KEY([MaTrinhDo])
REFERENCES [dbo].[tblTrinhDo] ([MaTrinhDo])
GO
ALTER TABLE [dbo].[tblGiaoVien] CHECK CONSTRAINT [FK_tblGiaoVien_tblTrinhDo]
GO
ALTER TABLE [dbo].[tblHocSinh]  WITH CHECK ADD  CONSTRAINT [FK_tblHocSinh_tblLop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[tblLop] ([MaLop])
GO
ALTER TABLE [dbo].[tblHocSinh] CHECK CONSTRAINT [FK_tblHocSinh_tblLop]
GO
ALTER TABLE [dbo].[tblLop]  WITH CHECK ADD  CONSTRAINT [FK_tblLop_tblGiaoVien] FOREIGN KEY([GVCN])
REFERENCES [dbo].[tblGiaoVien] ([MaGV])
GO
ALTER TABLE [dbo].[tblLop] CHECK CONSTRAINT [FK_tblLop_tblGiaoVien]
GO
